@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<button type="button" class="btn btn-primary cluster-btn">Cluster</button>

<canvas id="myChart" width="400" height="400"></canvas>

<script>
    

    $('.cluster-btn').click(function () {
        $.ajax({
            type: 'POST',
            url: 'Cluster',
            //data: JSON.stringify({json: json_string}),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (msg) {

                var dataFirst = {
                    label: "A",
                    type: "scatter",
                    color: "red",
                    pointBackgroundColor: "red",
                    data: msg[0]
                };

                var dataSecond = {
                    label: "B",
                    type: "scatter",
                    color: "blue",
                    pointBackgroundColor: "blue",
                    data: msg[1]
                };

                var chartData = {
                    datasets: [dataFirst, dataSecond]
                }

                var chartOptions = {
                    legend: {
                        display: true,
                        position: 'top',
                        labels: {
                            boxWidth: 80,
                            fontColor: 'black'
                         }
                    }
                };

                var ctx = $('#myChart');
                var myChart = new Chart(ctx, {
                    type: 'scatter',
                    data: chartData,
                    options: chartOptions
                });
            },
            error: function (msg) {}
        });
    })
</script>
